* {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.App {
  margin: 20px 0;
}

.Auth {
  width: 300px;
  margin: 0 auto;
}
